img {
width: 100px;
border-radius: 50px;
float: left;
margin-right: 10px;
}

.handle{
font-weight: bold;
color: black;
text-decoration: none;
}

.square {
height: 200px;
width: 200px;
background: blue;
position: absolute;
top: 50%;
left: 30%;
margin: -50px 0 0 -50px;
}

.circle {
height: 200px;
width: 200px;
border-radius: 50%;
background: blue;
position: absolute;
top: 50%;
left: 70%;
margin: -50px 0 0 -50px;
}
		
.triangle {
width: 0;
height: 0;
border-left: 100px solid transparent;
border-right: 100px solid transparent;
border-bottom: 200px solid blue;
position: absolute;
top: 50%;
left: 50%;
margin: -50px 0 0 -50px;
}

.rectangle {
height: 100px;
width: 200px;
background: blue;
position: absolute;
top: 20%;
left: 30%;
margin: -50px 0 0 -50px;
}

.star {
position: absolute;
top: 8%;
left: 48%;
margin: -50px 0 0 -50px;
}

.pentagon {
position: absolute;
top: 8%;
left: 68%;
margin: -50px 0 0 -50px;
}